@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url("../font/inter-variablefont_slntwght-webfont.woff2") format("woff2");
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "inter";
  font-weight: bold;
  color: #231e1e;
  margin-bottom: 1rem;
}
p,
a,
li {
  color: #231e1e;
  line-height: 1.6;
}

a {
  text-decoration: underline;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.herobg {
  background-image: url("../img/swirl_desk.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20%;
  height: 85vh;
}

.menuItem{
  text-decoration: none;
}
.menuItem:hover{
  text-decoration: underline;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 9rem;
  background-color: #1400ff;
  border-radius: 50px;
  cursor: pointer;
}

.button a {
  color: #ffe9e9;
  text-decoration: none;
}

.button:hover {
  background-color: #1100c6;
}

hr {
  border: 0.5px solid #ff0000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

hr .white {
  border: 0.5px solid #ffe9e9;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.infobox {
  cursor: pointer;
}

.content {
  display: none;
  background-color: #fff8f8;
  border: 1px solid #ff0000;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.cookietext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.cookiewrapper {
  position: absolute;
  top: 60vh;
  width: 100%;
  background: white;
  border-radius: 15px;
  text-align: center;
  padding: 25px 25px 30px 25px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
}
.cookiewrapper.hide {
  opacity: 0;
  pointer-events: none;
}
::selection {
  color: #ffe9e9;
  background: #1400ff;
}
.cookiewrapper img {
  max-width: 150px;
}
.cookiewrapper .cookietext {
  margin-top: 20px;
}

.cookietext {
  margin-top: 10px;
}
.cookietext p {
  color: #231e1e;
  margin: 5px 0 20px 0;
}
.cookietext .cookiebuttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookiebuttons .item {
  margin: 0 10px;
}
.cookiebuttons button {
  padding: 10px 20px;
  background: #1400ff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffe9e9;
  cursor: pointer;
  border-radius: 50px;
}
.cookiebuttons button:hover {
  transform: scale(0.97);
}
.cookiebuttons a {
  color: #ffe9e9;
}

#læs {
  color: #1400ff;
}

@media (min-width: 769px) {
  .cookiewrapper {
    width: 30%;
    margin-left: 1rem;
    top: 55vh;
  }
}

@media (max-width: 768px) {
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: #fff8f8;
    text-decoration: none;
    border-bottom: 1px solid #fff8f8;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .menu_toggle_btn {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #ff0000;
    color: #231e1e;
    list-style: none;
    padding-top: 4rem;
  }

  .showMenu {
    transform: translateY(0);
  }

  .herobg {
    background-image: url("../img/swirl_2.svg");
    background-position: center center;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
